<%- include("header") %> 
<h2>this is the about page</h2>
<p>hello this is me and this is the about page where I talk about myself and stuff you might want to know about me</p>
<%- include("footer") %> 